.to-do{
  text-align: center;
}
.to-do input{
  font-size: 2rem;
  border-radius: 10px;
  background-color: darkgray;
  border: none;
  margin: 3rem;
  padding: 1rem;
}
.to-do input::placeholder{
  color: black;
  font-size: 2rem;
  text-align: center;
  opacity: 0.8;
}
.to-do input:hover{
  background-color: gray;
  animation: alternate 0.5s ease-in-out infinite;
}
 button{
  background-color: darkgray;
  font-size: 2rem;
  border-radius: 10px;
  border: none;
  padding: .5rem 1rem;
  margin: 1rem;
  cursor: pointer;  
}
button:hover{
  background-color: gray;
  animation: alternate 0.5s ease-in-out infinite;
  transition: all 0.3s ease-in-out;
}
.task .complete{
  color: green;
 
}
.task h2{
  font-size: 3rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: grey;
}