.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.listContainer input {
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.5rem;
  margin-right: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.listContainer button {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #61dafb;
  color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.listItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.listItems div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 50%;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

.listItems div h2 {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.listItems div button {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #ff4136;
  color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}